.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.5s; 
}
  
.sidenav a {
    padding: 8px 4px 8px 15px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: inline-block;
    transition: 0.3s;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
.sidenav a:hover {
    color: #ff0000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

span:hover{
    color: #ff0000;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
    padding-bottom:0px;
}

#content{
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

body{
    background-color: black;
    color: white;
}

.title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.titleimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom:20px;
}

.hide{
    display: none;
    height: 30px;
}

.main:hover + .hide{
    display:inline;
    padding-top:5px;
    margin:0px;

}

.menu{
    width:100%;
    border: solid 2px black;
    padding:none;
}

.darkiespotify{
    margin-top: 3.5px;
    margin-left: 3.5px;
    border: solid 2px black;
    width:230px;
    height:auto;
    padding: 4px 4px 0px 4px;
}