.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.5s; 
}
  
.sidenav a {
    padding: 8px 4px 8px 15px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: inline-block;
    transition: 0.3s;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
.sidenav a:hover {
    color: #ff0000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

span:hover{
    color: #ff0000;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
    padding-bottom:0px;
}

#content{
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

body{
    background-color: black;
    color: white;
}

.title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.titleimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom:20px;
}

.hide{
    display: none;
    height: 30px;
}

.main:hover + .hide{
    display:inline;
    padding-top:5px;
    margin:0px;

}

.menu{
    width:100%;
    border: solid 2px black;
    padding:none;
}

p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:20px;
    text-align:center;
}

.column {
    float: left;
    width: 10%;
    padding: 5px;
}

.row{
    padding-left: 32%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.icono{
    width: 100%;
}

.icono:hover{
    box-shadow: 0 0 5px 3px red;
    border-radius: 10px;
}

.container {
    position: relative;
    width: 25%;
    display:block;
    margin-right: auto;
    margin-left: auto;
}
  
.perfil {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: #111111c7;
    border-radius: 50%;
}
  
.container:hover .overlay {
    opacity: 1;
}

.container:hover .perfil{
    box-shadow: 0 0 5px 4px rgb(255, 255, 255);
}
  
.text {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:black;
    padding:10px;
    border-radius:10px;
    box-shadow: 0 0 5px 3px black;
}

.darkiespotify{
    margin-top: 3.5px;
    margin-left: 3.5px;
    border: solid 2px black;
    width:230px;
    height:auto;
    padding: 4px 4px 0px 4px;
}